* {
  margin:0px;
  padding:0px;
  line-height:5px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
  height:250px;
  float :left;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
